---
import Layout from '../layouts/Layout.astro';
import App from '../components/App';
---

<Layout title="Panda's Getallenreis">
  <main class="w-full min-h-[100dvh] flex flex-col relative bg-sky-200">
    <App client:only="react" />
  </main>
</Layout>
