---
import Layout from '../layouts/Layout.astro';
import App from '../components/App';
---

<Layout title="Panda's Getallenreis">
  <main class="w-full h-full relative overflow-hidden bg-sky-200">
    <App client:load />
  </main>
</Layout>
